common to all clauses:
======================
Clause present or not? (binary: true/false)
 
clause text extracted.
 
coverage score in relation with the SCB defenitions.
 
Page locations? (all page numbers where the clause is present)
 
 
Governing Law:
===============
 
What is the governing law of the contract?
 
Can the Bank entity terminate for convenience?
 
What is the minimum notice period for termination for convenience by the Bank?
 
Is an exit fee specified?
 
Please specify the exit fee, including the currency and amount or the formula used to calculate the exit fee?
 
Can the Supplier terminate for convenience?
 
What is the minimum notice period for termination for convenience by the Supplier?
 
Can the Supplier terminate on a change of control of the Bank entity?
 
Can the Supplier terminate due to financial distress, insolvency, or resolution of the Bank?
 
 
Assignment/ Novation:
=====================
 
Is Supplier consent required to assign/novate within the Group?
 
Is Supplier consent required to assign/novate outside Group (with no exception for “successors” to the Bank's entity’s business)?
 
Contract has Assignment Clause - Internal?
 
Is Consent Requried to Assign / novate within the SC Group?
 
Contract has Assignment Clause - External?
 
Is the definition of “SCB Group” consistent with the definition extracted from the contract document?
 
 
Recovery and Resolution Planning (RRP):
=======================================
 
Does the contract include an RRP clause?
 
Are there any key deviations from Bank standard RRP terms?
 
Are there any other deviations?
 
 
Divested Business Clause:
=========================
 
Does the contract include a “Divested Business” clause?
 
Is the Divested Business clause based on Bank’s standard?
 
What is the transitional services period, if applicable?
 
 
License Grant:
===============
 
Who is the licence / right to use granted to?




Governing Law	"32.	GOVERNING LAW
This [Contract Document/Agreement], and any matters arising out of or in connection with it, shall be governed by and construed in accordance with Laws of [England][Hong Kong][Singapore][New York]"
